
  h1{
    position: relative;
    font-size: 100px;
    text-align: center;
    font-family: sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    width: 70%;
    margin: 30px auto 100px auto;
  }
  @media screen and (max-width: 510px){
    h1{
      font-size: 70px;
    }
  }
  @media screen and (max-width: 360px){
    h1{
      font-size: 50px;
    }
  }